extends layout

block content
  #map 

  #infos

    //- #scenarioTable
    //- table.table.table-hover
    //-   thead
    //-     tr
    //-       th Ladebedarfssznenario für das Jahr: 
    //-   tbody
    //-     tr
    //-       td
    //-         input#radio1(type='radio' name='radios' checked)
    //-         label(for='radio1')  2022
    //-     tr
    //-       td
    //-         input#radio2(type='radio' name='radios')
    //-         label(for='radio2')  2025
    //-     tr
    //-       td
    //-         input#radio3(type='radio' name='radios')
    //-         label(for='radio3')  2030
